<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="Story Pattern Editor Type"
            type="spe"
            id="org.uniks.SPE.editor.editorDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="Editor Diagram Type Provider"
            class="org.uniks.spe.editor.diagram.EditorDiagramTypeProvider"
            id="org.uniks.SPE.editor.editorDiagramTypeProvider">
         <diagramType
               id="org.uniks.SPE.editor.editorDiagramType">
         </diagramType> 
          <imageProvider 
            id="org.uniks.spe.editor.PlatformImageProvider">
      </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.uniks.SPE.editor"
            name="Story Pattern Editor">
      </category>
      <wizard
            category="org.uniks.SPE.editor"
            class="org.uniks.spe.editor.wizards.SPEWizard"
            icon="icons/sample.gif"
            id="org.uniks.spe.editor.wizards.SampleNewWizard"
            name="Story Pattern Editor File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.uniks.spe.editor.PlatformImageProvider"
            id="org.uniks.spe.editor.PlatformImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.uniks.SPE.editor.triggerGeneratorMenuItem"
            nameFilter="*.spemodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.uniks.spe.editor.GeneratorAction"
               icon="icons/java_code.png"
               id="org.uniks.SPE.editor.triggerGenerator"
               label="Generate Code">
         </action>
      </objectContribution>
   </extension> 
</plugin>
